/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  position: relative;
  color: #333;
  background: #EBEBEB;
}
a {
  color: #df2050;
}
a:hover {
  color: #df2050;
  text-decoration: underline;
}
/****************************����*****************************/
.container {
  width: 80%;
  height: auto;
  margin: 10px auto;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  border-radius: 4px;
}
.container:after {
  content: "";
  display: block;
}
.leftBox {
  width: 350px;
  height: 100%;
  background: #394A5A;
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.leftBox .head {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}
.leftBox .head img {
  border-radius: 50%;
  padding: 4px;
  background: #fff;
}
.leftBox .head h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}
.leftBox div {
  position: relative;
}
.leftBox .leftTitle {
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-color: #6B3645;
  background-color: #B05051;
  margin: 5px 0 15px 30px;
  font-size: 22px;
  border-radius: 0 4px 0 0;
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  color: #fff;
}
.leftBox .leftTitle::before {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 0;
  width: 20px;
  height: 50px;
  background-color: #B05051;
  clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 50%);
  -webkit-clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 80% 100%, 0% 50%);
}
.leftBox .leftTitle:after {
  position: absolute;
  content: "";
  top: 100%;
  right: 0;
  border-top: 0 solid transparent;
  border-left-width: 15px;
  border-left-color: inherit;
  border-left-style: solid;
  border-bottom: 15px solid transparent;
  border-right: 0 solid transparent;
  width: 0;
  height: 0;
}
.leftBox ul {
  padding-left: 50px;
  margin-bottom: 30px;
}
.leftBox ul li {
  color: #ddd;
  margin: 5px 0;
}
.leftBox ul li span {
  font-size: 16px;
  color: #ABADB0;
  font-weight: bold;
}
.leftBox p {
  padding-left: 50px;
  color: #eee;
  font-size: 16px;
}
.leftBox .contact .leftTitle {
  border-color: #5A6238;
  background-color: #BDC293;
}
.leftBox .contact .leftTitle::before {
  background-color: #BDC293;
}
.leftBox .application .leftTitle {
  border-color: #887334;
  background-color: #DAB652;
}
.leftBox .application .leftTitle::before {
  background-color: #DFB651;
}
.leftBox .aboutme {
  padding: 40px 20px 0 20px;
  color: #eee;
  line-height: 1.5;
  text-indent: 2em;
}
.rightBox {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px 40px 40px 400px;
  background: #fff;
}
.rightBox .rightTitle {
  font-size: 24px;
  color: #394A5A;
  line-height: 30px;
  border-bottom: 1px solid #394A5A;
  margin: 30px 0 15px -5px;
}
.rightBox h4 {
  font-size: 19px;
  color: #01579B;
  margin: 0 0 15px 5px;
  font-weight: bold;
}
.rightBox h4 img {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.rightBox h4 a {
  vertical-align: middle;
}
.rightBox .itemList {
  border-left: 2px solid #394A5A;
  margin-left: 15px;
}
.rightBox .itemList li {
  position: relative;
  top: -5px;
  margin: 0 0 20px 20px;
}
.rightBox .itemList li p {
  font-size: 15px;
  color: #616161;
  line-height: 23px;
  margin-bottom: 5px;
}
.rightBox .itemList li p img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  vertical-align: middle;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.rightBox .itemList li p .smallImg {
  width: 100px;
  height: 100px;
}
.rightBox .circle {
  height: 14px;
  width: 14px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #394A5A;
  float: left;
  position: absolute;
  left: -28px;
  top: 5px;
}
.rightBox h5 {
  line-height: 30px;
  font-size: 18px;
  bottom: 3px;
  font-weight: bold;
}
.footer {
  text-align: center;
  padding: 20px 0;
}
.footer .fa-heart {
  color: #df2050;
}
.review {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  text-align: center;
  display: none;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.review img {
  max-width: 70%;
  max-height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
@media screen and (min-width: 961px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 960px) and (min-width: 820px) {
  .container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: none;
  }
  .rightBox {
    margin: 0;
    border-radius: 0 4px 4px 0;
  }
  .leftBox {
    border-radius: 4px 0 0 4px ;
  }
}
@media screen and (max-width: 819px) {
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: none;
  }
  .leftBox {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px 4px 0 0;
  }
  .rightBox {
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px ;
  }
}
@media screen and (max-width: 376px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0 ;
  }
  .leftBox {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 0;
  }
  .rightBox {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0 ;
  }
}
/*
 *general.css--Styles used on ALL pages
 */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 9999 versions
*/

@font-face {
  font-family: "Trebuchet MS";
  src: url('https://2021.igem.org/wiki/images/d/d3/T--DUT_China--trebuc.ttf');
}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: bold;
  src: url('https://2021.igem.org/wiki/images/3/30/T--DUT_China--trebucbd.ttf');
}

@font-face {
  font-family: "Raleway";
  src: url("https://2021.igem.org/wiki/images/5/54/T--DUT_China--Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("https://2021.igem.org/wiki/images/3/35/T--DUT_China--Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("https://2021.igem.org/wiki/images/b/be/T--DUT_China--Raleway-Italic.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  font-style: italic;
  src: url("https://2021.igem.org/wiki/images/3/36/T--DUT_China--Raleway-BoldItalic.ttf");
}

/*Title*/

#title {
  padding: 150px 0;
  padding: 15vw 0;
  -o-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#title div {
  width: 100%;
  font-family: "Raleway", "Segoe UI", Arial, sans-serif;
  font-size: 100px;
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

/*Whole Navigation Bar*/

#nav-bar {
  top: 10px;
  padding: 5px;
  color: black;
  font-family: "Trebuchet MS", "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  background-color: #bee5f0;
}

#nav-bar .navbar-brand img {
  height: 80px;
}

#nav-bar .nav-item {
  display: block !important;
}

#nav-bar .nav-link {
  color: black;
  background-color: inherit;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: all ease 200ms;
  -o-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -webkit-transition: all ease 200ms;
  border-radius: 5px;
}

/*Submenu*/

#nav-bar .dropdown-menu, #nav-bar .dropdown-item {
  color: inherit;
  font: inherit;
  border: none;
}

#nav-bar .dropdown-menu > a {
  -o-transition: ease 500ms;
  -moz-transition: ease 500ms;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}

#nav-bar .dropdown-menu > a:hover {
  background-color: #e5f0bc;
}

#nav-bar .dropdown:hover .dropdown-menu {
  display: block;
}

/*Responsive--Smaller than PC*/

@media only screen and (max-width: 992px) {
  #nav-bar {
    background-color: #bee5f0;
  }

  #nav-bar .nav-item {
    padding: 0 1rem;
  }

  #nav-bar .dropdown-menu {
    background-color: #bcf0c8;
  }

  #nav-bar .dropdown-menu > a:hover {
    background-color: #e5f0bc;
  }
}

/*Responsive--PC*/

@media only screen and (min-width: 992px) {
  #nav-bar .nav-item {
    text-align: center;
  }

  #nav-bar .nav-item * {
    /*display: block;*/
    /*margin: 0 auto;*/
  }

  #nav-bar .nav-link {
    padding: 0 !important;
    margin: 0 0.5rem;
  }

  #nav-bar .nav-link:hover {
    /*background-color: #63a2c2;*/
  }

  #nav-bar .dropdown-menu {
    display: block;
    margin-top: 0;
    visibility: hidden;
    background-color: transparent;
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -o-transition: all ease-out 400ms;
    -moz-transition: all ease-out 400ms;
    -webkit-transition: all ease-out 400ms;
    transition: all ease-out 400ms;
  }

  #nav-bar .dropdown:hover .dropdown-menu {
    visibility: visible;
    background-color: #bcf0c8;
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  #nav-bar .nav-item:last-child .dropdown-menu {
    left: unset;
    right: 0;
  }

  #nav-bar .dropdown-item {
    padding: .25rem 1.5rem !important;
    opacity: 0;
  }

  #nav-bar .dropdown:hover .dropdown-item {
    opacity: 1;
  }
}

/*Top Scroll*/

#top-scroll {
  position: fixed;
  z-index: 1;
  right: 40px;
  bottom: 40px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 800ms ease, -webkit-transform 500ms ease;
  -o-transition: opacity 800ms ease, -o-transform 500ms ease;
  -moz-transition: opacity 800ms ease, transform 500ms ease, -moz-transform 500ms ease;
  transition: opacity 800ms ease, transform 500ms ease, -webkit-transform 500ms ease, -moz-transform 500ms ease, -o-transform 500ms ease;
}

#top-scroll.top-scroll-active {
  visibility: visible;
  opacity: 1;
}

#top-scroll:hover {
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/*Whole footer*/

#footer {
  position: relative;
  z-index: 0;
  padding: 50px;
  text-align: center;
  color: black;
  font-family: "Trebuchet MS", "Segoe UI", Arial, sans-serif;
  background-color: #bee5f0;
}

.footer-left, .footer-center, .footer-right {
  position: relative;
  z-index: 2;
}

/*2 images of flowers*/

.flower {
  position: absolute;
  z-index: 1;
}

.flower1 {
  bottom: 0;
  left: 0;
  width: 400px;
}

.flower2 {
  top: 0;
  right: 0;
  width: 350px;
}

/*Copyright*/

#footer .copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color: #0073bb;
  font-family: inherit;
  font-size: 20px;
  line-height: 1;
}

/*Headers*/

#footer h3 {
  color: inherit;
  font-family: inherit;
}

/*School badge*/

#footer .footer-left img {
  width: 100px;
  margin: 10px;
}

@media (max-width: 768px) {
  #footer .footer-left img {
    width: 50%;
    margin: 10px;
  }
}

/*Information*/

#footer .plain-text {
  line-height: 1.25em;
  font-family: inherit;
  font-size: 20px;
  text-align: inherit;
}

#footer .plain-text .icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: black;
  overflow: hidden;
}

#footer a {
  color: black;
  text-decoration: none;
  -o-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}

#footer a:hover {
  color: #0073bb;
}

/*Follow Us*/

#footer .footer-right a {
  margin: 0 10px;
}

#footer .contact {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  -o-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

#footer .contact .icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: #0073bb;
  overflow: hidden;
}

#footer .contact:hover {
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/*Sponsors*/

#footer .sponsors img {
  margin: 5px;
  height: 50px;
}
